body{
    margin: 0;
}

.principal{
    width: 100%;
}

h1{
    width: 100%;
}

.nomeRobo{
    margin: 0 auto;
    background-color: black;
    color:white;
    font-size: 2em;
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 3px;
    
}
img{
    width: 100%;
    height: 82%;
    justify-content: flex;
    text-align: center;

    position:absolute;
}
.img2{
    position: absolute;

    width: 50px;
    height: 65px;
    margin-top: -18px;
    margin-left: -10px;
}

.boxtxt{
    margin-left: 20%;
    margin-top: 15%;
    margin-right: 20%;
}
.boxtxt p{
    font-size: 25px;
    background-color: gray;
    text-indent: 40px
}

a{
    color:white;
}
li{
    font-size: 25px;
    text-align: left;

    list-style: none;

    position:absolute;

    width: 0px;
    height: 0px;

    margin-left: 185px;

    top: 200px;
    left: -140px;

    background-color: black;


}
ul{
    display: none;
    position: absolute;

}
li:hover ul{
    display: block;
    height: 460px;

}
.navegacao li ul{
    
    width: 130px;
    background-color: black;
    opacity: 0.5;
    border: 1px solid white;
    margin-top: 45px;
    padding: 0;
    text-align: center;
    margin-left: -8px;

}
.inicio a:hover, .objetivo a:hover, .roboc a:hover, .hardware a:hover, .galeria a:hover, .quems a:hover{
    background-color: gray;
}
.inicio{

    margin-top: 25px;
}
.objetivo{

    margin-top: 40px;

}
.roboc{

    margin-top: 45px;
}
.hardware{

    margin-top: 45px;
}
.galeria{

    margin-top: 40px;

}
.quems{

    margin-top: 40px;

}