body{
    margin: 0;
}

.principal{
    width: 100%;
}

h1{
    width: 100%;
}

.felipel{
    width: 250px;
    height: 250px;
    margin-left: 80px;
    border: 3px black solid;

}
.murilor{
    width: 250px;
    height: 250px;
    margin-left: 40px;
    border: 3px black solid;
}
.felipeff{
    width: 230px;
    height: 250px;
    margin-left: 40px;
    border: 3px black solid;
}

.muriloz{
    width: 230px;
    height: 250px;
    margin-left: 40px;
    border: 3px black solid;

}

.dfelipel{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    position: relative;
    left: 120px;
}
.dmurilor{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    position: relative;
    left: 394px;
    top: -40px;
}
.dmuriloz{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    position: relative;
    left: 700px;
    top: -82px;
}
.dfelipet{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    position: relative;
    left: 966px;
    top: -124px;
}










.boxtxt{
    margin-left: 20%;
    margin-top: 8%;
    margin-right: 20%;
}
.boxtxt p{
    font-size: 25px;
    background-color: gray;
    text-indent: 40px
}

.boximgs{
    margin-top: 90px;
}

.nomeRobo{
    margin: 0 auto;
    background-color: black;
    color:white;
    font-size: 2em;
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 3px;
    
}

.img2{
    position: absolute;

    width: 50px;
    height: 65px;
    margin-top: -18px;
    margin-left: -10px;
}

main .navegacao a{
    color:white;
}
main .navegacao li{
    font-size: 25px;
    text-align: left;

    list-style: none;

    position:absolute;

    width: 0px;
    height: 0px;

    margin-left: 185px;

    top: 100px;
    left: -140px;

    background-color: black;


}
main .navegacao ul{
    display: none;
    position: absolute;
}
li:hover ul{
    display: block;
    height: 80px;
    display: inline-flex;

}

.navegacao li ul{
    
    width: 740px;
    background-color: black;
    opacity: 0.5;
    border: 1px solid white;
    margin-top: 45px;
    padding: 0;
    text-align: center;
    margin-left: -8px;

}
.inicio a:hover, .objetivo a:hover, .roboc a:hover, .hardware a:hover, .galeria a:hover, .quems a:hover{
    background-color: gray;
}
.inicio,.objetivo,.roboc,.hardware,.galeria,.quems{

    margin-top: 25px;
    margin-left: 25px;

}

.inicio{

    margin-top: 25px;
}
.objetivo{

    margin-top: 26px;

}
.roboc{

    margin-top: 26px;
}
.hardware{

    margin-top: 26px;
}
.galeria{

    margin-top: 26px;

}
.quems{

    margin-top: 26px;

}