body{
    margin: 0;
   
}
.principal{
    width: 100%;
}
.nomeRobo{
    margin: 0 auto;
    background-color: black;
    color:white;
    font-size: 2em;
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 3px;
    
}
.img2{
    position: absolute;

    width: 50px;
    height: 65px;
    margin-top: -18px;
    margin-left: -10px;
}
a{
    color:white;
}
li{
    font-size: 25px;
    text-align: left;

    list-style: none;

    position:absolute;

    width: 0px;
    height: 0px;

    margin-left: 185px;

    top: 200px;
    left: -140px;

    background-color: black;


}
ul{
    display: none;
    position: absolute;

}
li:hover ul{
    display: block;
    height: 460px;

}
.navegacao li ul{
    
    width: 130px;
    background-color: black;
    opacity: 0.5;
    border: 1px solid white;
    margin-top: 45px;
    padding: 0;
    text-align: center;
    margin-left: -8px;
}
.inicio a:hover, .objetivo a:hover, .roboc a:hover, .hardware a:hover, .galeria a:hover, .quems a:hover{
    background-color: gray;
}
.inicio{

    margin-top: 25px;

}
.objetivo{

    margin-top: 40px;

}
.roboc{

    margin-top: 45px;
}
.hardware{

    margin-top: 45px;
}
.galeria{

    margin-top: 40px;

}
.quems{

    margin-top: 40px;

}
main h1{
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;

}
main p{
    margin-bottom: 40px;
    text-align: center;
    text-indent:3em;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
}
main h2{
    font-size: 2em;
}
.boxvideos{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.blocot1, .blocot2{
    background-color: gray;
    width: 70%;
    margin-left: 16%;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px
}